NVIDIA_VISIBLE_DEVICES=0,1
LANGSMITH_TRACING=true

HF_HOME=/app/models
OLLAMA_MODELS=/app/models

LANGSMITH_ENDPOINT=https://api.smith.langchain.com
MONGO_USER=mongouser
MONGO_PASSWORD=mongopassword

OPENAI_API_KEY=<YOUR_API_KEY>
HF_TOKEN=<YOUR_API_KEY>
LANGSMITH_API_KEY=<YOUR_API_KEY>
LANGSMITH_PROJECT=<YOUR_PROJECT_NAME>

MONGODB_DATABASE=<gencyber>